.card {
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/like-icon-default.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/like-icon-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  background-image: url("../images/delete-default.svg");
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 235px;
  }
}
