.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

.modal__close-btn_type_preview {
  top: 0px;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  padding: 32px 50px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  padding: 0 50px 32px;
  max-width: 630px;
  display: flex;
  flex-direction: column;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  width: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__label {
  margin-bottom: 32px;
  display: block;
  flex-direction: column;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 100%;
}

.modal__input-error {
  margin-top: 8px;
  color: rgba(255, 0, 0, 0.7);
  display: block;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  max-width: 156px;
  width: 100%;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  border-radius: 8px;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.7;
}

.modal__submit-btn:focus {
  outline: 2px solid #fcf5e5;
  outline-offset: 2px;
}

.modal__submit-btn_state_disabled {
  background-color: rgba(33, 33, 33, 0.5);
  cursor: default;
}

.modal__content {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin-top: 8px;
  margin-bottom: 0px;
  color: #ffffff;
  background-color: #212121;
  font-size: 20px;
  line-height: 1.2;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
}

@media (max-width: 480px) {
  .modal__title {
    padding: 22px 12px 0;
    margin: 0 0 24px;
    font-size: 20px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__form {
    padding: 0 12px 12px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    max-width: none;
  }
  .modal__caption {
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  /* Positioned below 480px media query to avoid being overwritten */
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0px;
  }
  .modal__image {
    max-width: 90vw;
  }
}
